#header-div {
  background-color: 
  #023031;
}

.name-user {
  display: flex;
  margin-left: 850px;
  padding: 15px;
  background-color:#FFFFFF;
  color: black;
  align-self: center;
  justify-content: center;
  border-radius: 20px;
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.link-1, .link-2, .link-3 {
  padding: 20px 135px 20px 135px;
  color: black;
  text-decoration: none;
  font-weight: bolder;
  background-color: #F0F2F5;
}

.link-3 {
  background-color: #036B52;
  color: #FFFFFF;
}