.header-div {
  background-color: #023031;
}

.name-user {
  align-self: center;
  background-color: white;
  border-radius: 20px;
  color: black;
  display: flex;
  justify-content: center;
  margin-left: 850px;
  padding: 15px;
}

.nav-links {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.link-1, .link-2, .link-3 {
  background-color: #f0f2f5;
  color: black;
  font-weight: 700;
  padding: 20px 135px;
  text-decoration: none;
}

.link-3 {
  background-color: #036b52;
  color: white;
}
